@import 'tailwindcss';
@import '@fontsource/fira-sans/400.css';
@import '@fontsource/fira-sans/500.css';
@import '@fontsource/fira-sans/600.css';
@import '@fontsource/fira-sans/700.css';
@import '@fontsource/fira-code/400.css';
@import '@fontsource/fira-code/500.css';
@import './print.css';

:root {
  --font-sans: 'Fira Sans', ui-sans-serif, system-ui, sans-serif;
  --font-mono: 'Fira Code', ui-monospace, monospace;
  --site-navbar-height: 4rem;

  scroll-padding-top: calc(var(--site-navbar-height) + 1rem);
}

:where(h1, h2, h3, h4, h5, h6)[id] {
  scroll-margin-top: calc(var(--site-navbar-height) + 1rem);
}

@media (width < 40rem) {
  .tooltip::before,
  .tooltip::after {
    display: none;
  }
}

@plugin 'daisyui' {
  themes: false;
}

@plugin '@tailwindcss/typography';
@plugin '../themes/catppuccinTheme.latte.ts';
@plugin '../themes/catppuccinTheme.frappe.ts';
@plugin '../themes/catppuccinTheme.macchiato.ts';
@plugin '../themes/catppuccinTheme.mocha.ts';
